.list {
    text-align: center;
    margin-top: 4rem;
}
input[type="text"] {
    width: 19rem;
    margin: 0.7rem 2rem 0;
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
}
.list-button {
    border: none;
    margin-top: 0.7rem;
    background-color: hsl(125, 83%, 25%);
}
.list-button:hover {
    background-color: hsl(125, 83%, 40%);
}